PORT=4000
MONGODB_URI=mongodb+srv://kamleshsharmathink:<password>@cluster0.lpwxhp7.mongodb.net/chakravegaTechnologiesPvtLimited?retryWrites=true&w=majority
RESEND_API_KEY=re_fzf6S2qc_LPK3nste1FoNwiyt9atViWM6
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=chakravegatechnologies@gmail.com
TELEGRAM_BOT_TOKEN=8959923429:AAGceU9OHNBvbCIUu5UQMbrGLzbEyE7Whk4
TELEGRAM_CHAT_ID=5843051109
